<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6838829297-8ltlh9cp1gr3ojr0ll6ufs58fu5klohn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6838829297-8ltlh9cp1gr3ojr0ll6ufs58fu5klohn</string>
	<key>API_KEY</key>
	<string>AIzaSyChgyeoZmLrrabEjnS6EjIEWaie0m_Y-QM</string>
	<key>GCM_SENDER_ID</key>
	<string>6838829297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iceo.aichat</string>
	<key>PROJECT_ID</key>
	<string>ai-chat-cab85</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-chat-cab85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6838829297:ios:924e778483c1b72a036950</string>
</dict>
</plist>